<header>
    <nav>
        <div id="logo">
            <h1><a href="/">Global News Today</a></h1>
        </div>
        <ul id="nav-list">
            <li><a href="/business">Business</a></li>
            <li><a href="/technology">Technology</a></li>
            <li><a href="/finance">Finance</a></li>
            <li><a href="/politics">Politics</a></li>
            <li><a href="/sport">Sport</a></li>
        </ul>
        <div id="search">
            <form action="/" method="post">
                <input type="search" name="name" id="search" placeholder="Search any articles">
            </form>
        </div>
    </nav>
</header>