<header>
    <nav>
        <div id="logo">
            <h1><a href="/">Global News Today</a></h1>
        </div>
        <ul id="nav-list">
            <li><a href="/business">Business</a></li>
            <li><a href="/technology">Technology</a></li>
            <li><a href="/entertainment">Entertainment</a></li>
            <li><a href="/science">Science</a></li>
            <li><a href="/sport">Sport</a></li>
            <li><a href="/health">Health</a></li>
        </ul>
        <div id="search">
            <form action="/search" method="post" id="search-form">
                <input type="search" name="search" id="search" placeholder="Search any articles">
            </form>
        </div>
    </nav>
</header>