@import url('https://fonts.googleapis.com/css2?family=Satisfy&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Old+Standard+TT&display=swap');

body {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}
header {
    background-color: black;
    border-bottom: 3px solid #fca311;
    padding: 20px 10px;
    

}

header nav {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    color: aliceblue;
}

header a {
    color: aliceblue;
    font-family: 'Satisfy', cursive;

}

#logo a{
    font-family: 'Cormorant Garamond', serif;
    font-size: 40px;
}

#nav-list li {
    display: inline-block;
    padding: 0 25px;
}

#search input {
    border-radius: 100px;
    border: 2px rgb(0, 0, 66) solid;
    text-align: center;
    padding: 10px 5px;
}

::placeholder {
    color: black;
  }

  #heading {
    text-align: center;
    margin-top: 50px;
    font-family: 'Satisfy', cursive;
  }

#news {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

img {
    width: 100%;
    border-radius: 30px;
}

.article {
    width: 90%;
    border-bottom: 2px solid #14213d;
    padding: 25px;
}

.description, .author {
    text-align: center;
    font-family: 'Cormorant Garamond', serif;
    opacity: 0.9;
    
}

.title {
    font-size: 19px;
    font-family: 'Cormorant Garamond', serif;
}

.content {
    font-family: 'Old Standard TT', serif;
}